<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Customer Profile</title>
</head>
<body>
	<p title="Customer Profile Page"><b>Please update your profile:</b><br/></p>
	<form method="post" action="update">
	First name:<br>
	<input type="text" name="firstname" value="jay"/><br/>
	Last name:<br>
	<input type="text" name="lastname" value="huang"/><br/>
	Username:<br>
	<input type="text" name="username" value="jayhuang"/><br/>
	Password:<br>
	<input type="text" name="password" value="123456"/><br/>
	Birthday:<br>
	<input type="text" name="birthday" value="08/18/1994"/><br/><br/>
	
	Payment info<br/>
	Type:<br>
	<input type="text" name="Type" value="Discover"/><br/>
	Card Number:<br>
	<input type="text" name="cardnum" value="1111-2222-3333-4444"/><br/>
	Expiration Date:<br>
	<input type="text" name="expdate" value="08/28"/><br/>
	CVV:<br>
	<input type="text" name="cvv" value="123"/><br/>
	<!-- The update button will update customer's database today that will be implement next week -->
	<input type="submit" value="update">
	</form>
	<p><a href="AvailableRoom.html"> Continue </a></p>
	<p><a href="welcome.html"> Go back to the welcome page</a></p>
</body>
</html>