<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Error Page</title>
    <style type="text/css">
        .style1
        {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <form id="errorForm">
    <div>
        <p title="Login Error page"> <b>You enter a invalid username/password!!</b>
         </p>
         <p> Please try again and verify your username and password</p>
    </div>
    </form>
</body>
</html>