<!DOCTYPE HTML>
<html>
   <head>
      <title>Login</title>
   </head>
   <body bgcolor="#eeeeee">
      <form method="post" action="login" align="center">
      	<center>    
        	<table align="center" class="style1">
            
            <center>
             &nbsp;
           	 &nbsp;
        	</center> 
        
            <p style="padding: 6px; margin: 6px; font-weight: bold; color: #0000FF">
            Welcome to Huangs Hotel Reservation System<br><br><br>
            Please enter username and password:
            
                   
             <tr>
                 <td class="style2">
                     &nbsp;</td>
                 <td class="style4">
                     &nbsp;</td>
             </tr>
      	
      	<tr>
   
                 
	    Username <input type="text" name="username" value="jayhuang"/><br/>
	    Password <input type="password" name="password" value = "123456"/><br/>
	    <input type="submit" value="Submit"/>
        <tr>
      </form>
       </table>            
       </center>
  </body>
</html>