<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hotel Selection Page</title>
    <style type="text/css">
        .style1
        {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <form id="welcomeForm" align="center">
    <div>
        <p title="Hotel Selection Page"> <b>Welcome to the Hotel Selection Page!!</b>
         </p>
         <p> Click the link below to update your profile</p>
         <p><a href="customerProfile.html">Update your profile</a></p>
    </div>
    </form>
</body>
</html>